@use "mixins";
@use "variables" as v;
@use "reset";

.button {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px;
  background-color: rgb(182, 147, 132);
  color: rgba(76, 32, 22, 255);
  cursor: pointer;
  margin-top: 0;
  width: 156px;
  font-family: "Aboreto";
  font-weight: 100;
  @include mixins.desktop {
    font-size: 15px;
  }
}

.button:hover {
  background-color: rgba(226, 190, 172, 255);
  box-shadow: 2px;
  @include mixins.desktop {
    font-size: 15px;
  }
}
