@use "mixins";
@use "variables" as v;
@use "reset";

.startpage {
  display: flex;
  height: 100vh;
  @include mixins.desktop {
    flex-direction: row;
    max-width: 80%;
  }

  &__wrapper {
    color: v.$primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-size: 1em;
    padding: 100px;
    @include mixins.desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__textwrapper {
    display: flex;
    @include mixins.desktop {
      flex-direction: row;
      padding-left: 50px;
    }
  }

  &__portrait {
    @include mixins.image;
    @include mixins.desktop {
      height: 450px;
      width: 450px;
      flex-direction: row;
    }
  }

  &__infotitle {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 2.55em;
    text-align: center;
    color: #4b2d29;
    padding-bottom: 20px;
    padding-top: 40px;
    transition: transform 0.2s;
    @include mixins.headerh2;
    text-align: start;
    @include mixins.desktop {
      font-size: 5em;
    }
  }

  &__infotitle:hover {
    transform: scale(1.1);
  }

  &__infotext {
    justify-content: center;
    text-align: center;
    max-width: 60%;
    transition: transform 0.2s;
    @include mixins.headerh3;
    @include mixins.desktop {
      font-size: 16px;
      flex-direction: column;
      width: 75%;
    }
  }

  &__infotext:hover {
    transform: scale(1.1);
  }
}

article.some {
  margin-left: 30px;
  margin-right: 30px;
}

.some {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 9px;
  align-items: center;
}

.email {
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  align-items: center;
  align-items: flex-end;
  color: black;
}
