@use "nav";
@use "variables" as v;
@use "startpage";
@use "mixins";
@use "reset";
@use "about";
@use "projects";
@use "footer";
@use "experience";
@use "contact";
@use "button";

body {
  background-color: #f4d8b0;
  font-family: "Playfair Display", serif;
  font-family: "Aboreto", cursive;
  font-family: "Montserrat", sans-serif;
}
